<div class="container">
    <br>
    <div class="card shadow p-4 mb-4 bg-white" id="datos-generales">
        <div class="card-body">
            <h3 class="text-center">Encuesta {{nombreEncuesta}}</h3>
        </div>
        <!-- EDICION DE PREGUNTAS -->
        <div class="row">
            <div class="col">
                <div *ngIf="preguntasEncuesta == null">
                    <h3 class="text-center text-info text-uppercase">Sin preguntas asociadas a la encuesta</h3>
                </div>

                <div *ngIf="preguntasEncuesta != null">
                    <form [formGroup]="formEditarPregunta" (ngSubmit)="editarPregunta($event)">
                        <div class="form-group">
                            <label for="noPregunta"><strong>No. Pregunta</strong></label>
                            <select formControlName="noPregunta" class="custom-select" id="noPregunta">
                                <option *ngFor="let pregunta of preguntasEncuesta" value="{{pregunta.id}}" selected>{{pregunta.numero}}</option>
                            </select>
                        </div>
                        <div *ngFor="let detalle of detallesPregunta">
                            <div class="form-group">
                                <span class="badge badge-pill badge-info">{{detalle.descripcion}}</span>
                                <input formControlName="pregunta" type="text" class="form-control" placeholder="Escribe la nueva pregunta" id="pregunta">
                            </div>                                
                            <div *ngIf="detalle.multiple == 1">
                                <div class="form-group">
                                    <span class="badge badge-pill badge-info">SI</span>
                                    <select formControlName="multiple" class="custom-select" id="inputGroupSelect01">
                                        <option selected value="{{detalle.multiple}}">SI</option>
                                        <option value="0">NO</option>
                                    </select>
                                </div>
                            </div>
                            <div *ngIf="detalle.multiple == 0">
                                <div class="form-group">
                                    <span class="badge badge-pill badge-info">NO</span>
                                    <select formControlName="multiple" class="custom-select" id="inputGroupSelect01">
                                        <option selected value="{{detalle.multiple}}">NO</option>
                                        <option value="1">SI</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <span class="badge badge-pill badge-info">{{detalle.medicion}}</span>
                                <select formControlName="medicion" class="custom-select" id="inputGroupSelect01">
                                    <option *ngFor="let medicion of mediciones" value="{{medicion.id}}">{{medicion.nombre}}</option>
                                </select>
                            </div>                    
                            <div class="row">
                                <button [disabled]="formEditarPregunta.invalid" type="submit" class="btn btn-outline-success">Editar pregunta</button>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- <form [formGroup]="formEditar" (ngSubmit)="editarPregunta($event)">
                    <div *ngIf="preguntasEncuesta != null" class="table-responsive">
                        <table class="table table-hover table-sm">
                            <thead>
                                <tr>
                                    <th class="text-center">Id pregunta</th>
                                    <th class="text-center">Pregunta</th>
                                    <th class="text-center">Opción Múltiple</th>
                                    <th class="text-center">Medición</th>
                                    <th class="text-center"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let pregunta of preguntasEncuesta">
                                    <td>
                                        <input formControlName="idPreguta" type="text" class="form-control" value="{{pregunta.id}}">
                                    </td>
                                    <td>
                                        <input formControlName="pregunta" ype="text" class="form-control" value="{{pregunta.descripcion}}">
                                    </td>
                                    <td>
                                        <div *ngIf="pregunta.multiple">
                                            <div class="col">
                                                <label>{{pregunta.multiple}}</label>
                                            </div>
                                            <div class="col">
                                                <select formControlName="multiple" class="custom-select" id="inputGroupSelect01">
                                                    <option selected value="{{pregunta.multiple}}">SI</option>
                                                    <option value="0">NO</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div *ngIf="!pregunta.multiple">
                                            <div class="col">
                                                <label>{{pregunta.multiple}}</label>
                                            </div>
                                            <div class="col">
                                                <select formControlName="multiple" class="custom-select" id="inputGroupSelect01">
                                                    <option selected value="{{pregunta.multiple}}">NO</option>
                                                    <option value="1">SI</option>
                                                </select>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="row">
                                            <div class="col">
                                                <label>{{pregunta.medicion}}</label>
                                            </div>
                                            <div class="col">
                                                <select formControlName="medicion" class="custom-select">
                                                    <option *ngFor="let medicion of mediciones" value="{{medicion.id}}">{{medicion.nombre}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <button [disabled]="formEditar.invalid" type="submit" class="btn btn-outline-primary">Agregar pregunta</button>&nbsp;
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form> -->
            </div>
        </div>
        <!-- FIN EDICION PREGUNTAS -->
        <div *ngIf="preguntasEncuesta.length < 1">
            <!-- AGREGAR PREGUNTA A LA ENCUESTA -->
            <div class="row">
                <div class="col">
                    <div class="shadow p-4 mb-4 bg-white">
                        <h3>Agregar preguntas</h3>
            
                        <div class="row">
                            <div class="col">
                                <form [formGroup]="formAgregar" (ngSubmit)="guardarPregunta($event)">
                                    <div class="form-group">
                                    <label for="pregunta"><strong>Pregunta</strong></label>
                                    <input formControlName="pregunta" type="text" class="form-control" placeholder="Escribe aquí tu pregunta" id="pregunta">
                                    </div>
                                    <div class="form-group">
                                        <label for="fase"><strong>Medicion</strong></label>
                                        <select formControlName="medicion" name="fase" class="custom-select" id="fase">
                                            <option *ngFor="let medicion of mediciones" value="{{medicion.id}}">{{medicion.nombre}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input formControlName="multiple" type="checkbox" class="custom-control-input" id="multiple">
                                            <label class="custom-control-label" for="multiple">Opcion multiple</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <button [disabled]="formAgregar.invalid" type="submit" class="btn btn-outline-success">Agregar pregunta</button>&nbsp;
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- FIN AGREGAR PREGUNTA A LA ENCUESTA -->
        </div>

    </div>
</div>