<div class="container">
    <br>
    <div class="card shadow p-4 mb-4 bg-white" id="datos-generales">
        <div class="card-body">
            <h3 class="text-center">Encuesta {{encuestaDetalle.encuesta}}</h3>
        </div>
        <div class="row">
            <div class="col">
                <div *ngIf="preguntasEncuesta == null">
                    <h3 class="text-center text-info text-uppercase">Sin preguntas asociadas a la encuesta</h3>
                </div>
                <div *ngIf="preguntasEncuesta != null" class="table-responsive">
                    <table class="table table-hover table-sm">
                        <thead>
                            <tr>
                                <th class="text-center">Pregunta</th>
                                <th class="text-center">Opción Múltiple</th>
                                <th class="text-center">Medición</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let pregunta of preguntasEncuesta">
                                <td>{{pregunta.descripcion}}</td>
                                <div *ngIf="pregunta.multiple">
                                    <td class="text-center">SI</td>
                                </div>
                                <div *ngIf="!pregunta.multiple">
                                    <td class="text-center">NO</td>
                                </div>
                                <td class="text-center">{{pregunta.medicion}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>