<div class="container">
    <br>
    <div class="card shadow p-4 mb-4 bg-white" id="datos-generales">
        <div class="card-body">
            <h3>Datos generales de la encuesta</h3>
            <form [formGroup]="formEncuesta" (ngSubmit)="guardarNombreEncuesta($event)">
                <div class="form-group">
                  <label for="encuesta"><strong>Nombre de la encuesta</strong></label>
                  <input formControlName="encuesta" type="text" class="form-control" placeholder="Escribe el nombre de la encuesta" id="encuesta">
                </div>
                <div class="form-group">
                  <label for="desarrollo"><strong>Desarrollo</strong></label>
                  <select formControlName="desarrollo" name="cars" class="custom-select" id="desarrollo">
                      <option value="" selected>Selecciona una opcion del menu</option>
                      <option value="Anuva">Anuva</option>
                      <option value="Liva">Liva</option>
                      <option value="Brasilia">Brasilia</option>
                  </select>
                </div>
                <div class="form-group">
                    <label for="fase"><strong>Fase</strong></label>
                    <select formControlName="fase" name="cars" class="custom-select" id="fase">
                        <option *ngFor="let fase of nombreFases" value="{{fase.id}}" selected>{{fase.nombre}}</option>
                    </select>
                </div>
                <div class="row">
                    <a routerLink="/home" class="btn btn-primary active" role="button" type="button">Salir</a>&nbsp;
                    <button [disabled]="formEncuesta.invalid" class="btn btn-primary" type="submit">Continuar</button>
                </div>
            </form>
        </div>
    </div>

    <div id="asignacion-preguntas">
        <div class="shadow p-4 mb-4 bg-white">
            <h3>Asignacion de preguntas</h3>

            <div class="row">
                <div class="col">
                    <form [formGroup]="formPreguntas" (ngSubmit)="guardarPregunta($event)">
                        <div class="form-group">
                          <label for="pregunta"><strong>Pregunta</strong></label>
                          <input formControlName="pregunta" type="text" class="form-control" placeholder="Escribe aquí tu pregunta" id="pregunta">
                        </div>
                        <div class="form-group">
                            <label for="fase"><strong>Medicion</strong></label>
                            <select formControlName="medicion" name="cars" class="custom-select" id="fase">
                                <option *ngFor="let mediciones of nombreMediciones" value="{{mediciones.id}}">{{mediciones.nombre}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input formControlName="multiple" type="checkbox" class="custom-control-input" id="multiple">
                                <label class="custom-control-label" for="multiple">Opcion multiple</label>
                            </div>
                        </div>
                        <div class="row">
                            <button [disabled]="formPreguntas.invalid" type="submit" class="btn btn-outline-success">Agregar pregunta</button>&nbsp;
                            <button [disabled]="formPreguntas.invalid" type="submit" class="btn btn-outline-info">Finalizar asignación</button>
                        </div>
                    </form>
                </div>
                <div class="col">
                    <div *ngIf="pregunta == null">
                        <p>Sin preguntas asociadas a la encuesta</p>
                    </div>
                    <div *ngIf="pregunta != null">
                        <div *ngFor="let p of pregunta">
                            <form class="form-inline" action="/action_page.php">
                                <label for="pregunta{{p.numero}}">{{p.descripcion}}</label>
                                <!-- <input type="email" class="form-control" id="email" placeholder="Enter email" name="email"> -->
                                <label for="opcion_multiple{{p.numero}}">{{p.multiple}}</label>
                                <!-- input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd"> -->
                                <label for="medicion{{p.numero}}">{{p.medicion_id}}</label>
                                <div class="form-check">
                                  <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" name="remember"> Editar
                                  </label>
                                </div>&nbsp;
                                <button type="button" class="btn btn-primary">Guardar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>