<div class="container">
    <br>
    <div class="row">
        <div class="col-6">
            <h3 class="text-center">Gráfico encuestas enviadas</h3>
            <p>Se genera grafico de encuestas que fueron enviadas, en dónde se realizarán
                distintos filtros
            </p>
            <div class="col">
                Seleccionar opción: enviadas o no enviadas
            </div>
            <div class="col">
                Seleccionar opción si ya fueron contestadas o no
            </div>
            <div class="col">
                Seleccionar opción numero de reenvios
            </div>
            <div class="col">
                Selecciona rango de fechas
            </div>
            <div class="col">
                Botón para generar gráfico
            </div>
            <canvas id="myChart" width="400" height="400"></canvas>
            <div class="col">
                Seleccionar tipo de gráfica, lista desplegable
            </div>
            <div class="col">
                Exportar a excel
            </div>
        </div>
        <div class="col-6">
            <h3 class="text-center">Gráfico respuestas</h3>
            <p>Se genera gáfico para obtener las respuestas</p>
            <canvas id="chart" width="400" height="400"></canvas>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h3 class="text-center">Gráfico tiempos de respuesta</h3>
            <canvas id="myChart" width="400" height="400"></canvas>
        </div>
        <div class="col-6">
            <h3 class="text-center">Gráfico 2</h3>
            <canvas id="myChart" width="400" height="400"></canvas>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h3 class="text-center">Gráfico 1</h3>
            <canvas id="myChart" width="400" height="400"></canvas>
        </div>
        <div class="col-6">
            <h3 class="text-center">Gráfico 2</h3>
            <canvas id="myChart" width="400" height="400"></canvas>
        </div>
    </div>
</div>